.task-title {
    font-weight: bold;
}

.status {
    font-weight: bolder;
}

.status-fulfilled {
    color: green;
}

.status-pending,
.status-rejected {
    color: red;
}

.student {
    width: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image {
    width: 200px;
}